Repository jung-jinyoung/OurAlgoStudy, pull requests merged in 2024-09, with the labels that each got.

#11 feat:BOJ_12919_해결못함
  jinyoung/240902/BOJ_12919.py
Labels: help wanted, BOJ

#14 240907_BOJ_13023_해결
  jinyoung/240910/BOJ_13023.py
Labels: BOJ, done

#15 240907: BOJ_9205_정답보고이해
  jinyoung/240910/BOJ_9205.py
Labels: BOJ, done

#16 240908_BOJ_2573_빙산_해결
  .DS_Store
  jinyoung/.DS_Store
  jinyoung/240910/BOJ_2573.py
Labels: BOJ, done

#17 240908_맥주마시면서걸어가기 ,숨바꼭질3, ABCDE 해결
  hojun/240910/BOJ_13023.py
  hojun/240910/BOJ_13549.py
  hojun/240910/BOJ_9205.md
Labels: BOJ, done

#20 240910_BOJ_연구소 완료
  hojun/240910/BOJ_14502.py
Labels: BOJ, done

#22 240910_모의테스트
  jinyoung/240910/모의평가/PGM_블록 이동하기.py
  jinyoung/240910/모의평가/PGM_석유시추.py
Labels: PGS, done

#26 240916_BOJ_스네이크 버드_완료
  hojun/240916/과제/BOJ_16435.py
Labels: BOJ, done

#27 240916_BOJ_카드 놓기_완료
  hojun/240916/과제/BOJ_5568.py
Labels: BOJ, done

#28 240916_BOJ_해시알고리즘과제_해결
  jinyoung/.DS_Store
  jinyoung/240916/BOJ_20166.py
  jinyoung/240916/BOJ_5568.py
Labels: BOJ, done

#29 240916_BOJ_선수 과목_완료
  hojun/240916/과제/BOJ_14567.py
Labels: BOJ, done

#30 240916_BOJ_문자열 지옥에 빠진 호석_완료
  hojun/240916/과제/BOJ_20166.py
Labels: BOJ, done

#31 240921_BOJ_2805_나무자르기_이해X
  jinyoung/240923/BOJ_2805.py
Labels: help wanted, BOJ

#32 240923_BOJ_나무자르기_해결
  hojun/240923/BOJ_2805.py
Labels: BOJ, done

#33 240923_BOJ_두 수의 합_해결
  hojun/240923/BOJ_13398.py
Labels: help wanted, BOJ, done

#34 240923_BOJ_공유기 설치_해결
  hojun/240923/BOJ_2110.py
Labels: BOJ, done

#38 240930_최단경로, 최소비용구하기_해결
  hojun/240923/모의 코테/PGS_등굣길.py
  hojun/240930/BOJ_1753.py
  hojun/240930/BOJ_1916.py
Labels: BOJ, done

#39 240930_BOJ_two dots_답 보고 품
  hojun/240930/BOJ_16929.py
Labels: BOJ, done
